@model IEnumerable<University.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />


<div class="container">
    <p>
        <a asp-action="CreateDpt" asp-controller="Department" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Add New Department
        </a>
    </p>

    <h2>Department List</h2>


    <div class="form-border">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.DepartmentId)

                
                </th>

                <th>


                    @Html.DisplayNameFor(x => x.DepartmentName)

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.DepartmentId)
                    </td>

                    <td>

                        @Html.DisplayFor(x => item.DepartmentName)

                    </td>


                    <td style="width:150px;">
                        <div class="btn-group" role="group">

                            <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a asp-action="Detail" asp-route-id="@item.DepartmentId" class="btn btn-primary">
                                <i class="fas fa-list-alt"></i>
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>


                        </div>
                    </td>
                </tr>



            }



        </table>

       
    </div>

    <div>
        @using (Html.BeginForm())
        {

            <input type="hidden" id="CurrentPage" name="CurrentPage" value="@ViewBag.CurrentPage" />
            <input type="hidden" id="LastPage" name="LastPage" value="@ViewBag.LastPage" />


        }



        <input type="button" class="btn btn-primary" id="Previous" value="Previous" />
        <input type="button" class="btn btn-primary" id="Next" value="Next" />

    </div>


</div>

<script>

    $(document).ready(function () {
        $("#Previous").click(function () {

            if(CalculateAndSetPage("Previous"))
             $("form").submit();
        });

        $("#Next").click(function () {
            if(CalculateAndSetPage("Next"))
             $("form").submit();
        });

    });

    function CalculateAndSetPage(movingType) {
        var currentPage = parseInt($("#CurrentPage").val());
        var lastpage = parseInt($("#LastPage").val());


        if (currentPage == 1 && movingType == "Previous") 
           return false;

        if (currentPage == lastpage && movingType == "Next")
            return false;


        if ( movingType == "Previous") {

            currentPage--;
        }

        else if (movingType == "Next") {
            currentPage++;
        }

        else
            alert("Something is wrong");

        $("#CurrentPage").val(currentPage);
        return true;
    }

</script>









