@model IEnumerable<University.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />


<div class="container">
    <p>
        <a asp-action="CreateDpt" asp-controller="Department" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Add New Department
        </a>
    </p>

    <h2>Department List</h2>


    <div class="form-border">

        <table class="table">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(x => x.DepartmentId)*@

                    @Html.ActionLink("Department Id", "Index",
                    new { SortOrder = (ViewBag.Sortorder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")),
                    Sortby = "DepartmentId",
                    page=(ViewBag.Page == null ? "1" : ViewBag.Page)
                    })
                </th>

                <th>



                    @Html.ActionLink("Department Name", "Index",
                    new { SortOrder = (ViewBag.Sortorder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")),
                    Sortby = "DepartmentName",
                    page=(ViewBag.Page == null ? "1" : ViewBag.Page)
                    })


                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.DepartmentId)
                    </td>

                    <td>

                        @Html.DisplayFor(x => item.DepartmentName)

                    </td>


                    <td style="width:150px;">
                        <div class="btn-group" role="group">

                            <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a asp-action="Detail" asp-route-id="@item.DepartmentId" class="btn btn-primary">
                                <i class="fas fa-list-alt"></i>
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>


                        </div>
                    </td>
                </tr>



            }



        </table>

        @{
            double TotalPage = ViewBag.TotalPages;

        }

        @for (int i = 1; i <= TotalPage; i++)
        {

            if (i == ViewBag.Page)
            {
                <b>
                    @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder),
                    SortBy = (ViewBag.SortBy == null ? "DepartmentId" : ViewBag.SortBy),
                    Page = i
                    })

                </b>

            }

            else
            {

                    @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder),
                    SortBy = (ViewBag.SortBy == null ? "DepartmentId" : ViewBag.SortBy),
                    Page = i
                    })

            }


        }


    </div>

</div>










